:root{
    --w1:#217, 19%, 35%;
    --w2:#214, 17%, 51%;
    --w3:#212, 23%, 69%;
    --w4:#210, 46%, 95%;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'manrope',sans-serif;
}

body{
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 13px;
}

.container{
    width: 50%;
    display: flex;
    line-height: 20px;
    border-radius: 10px;
    background-color: white;
}

.container Img{
   border-radius: 10px 0px 0px 10px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
    position: relative;
}

.text .heading{
    font-weight: 700;
     margin-bottom: 5%;
    font-size: 19px; 
}

.text .subtext{
    font-size: 14px;
    margin-bottom: 3%;
}

.text .orang{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    height: 100%;
    margin-top: 5%;
}

.text .orang .image{
    display: flex;
    width: 42%;
    justify-content: space-between;
}

.text .orang .image img{
    border-radius: 100px;
}

.text .tombol{
    background-color:hsl(210, 46%, 95%);
    border-radius: 50px;
    padding: 8px;
    margin-right: 4%;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
}

@media screen and (max-width:376px){
    .container{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .text{
        margin-top: 5%;
        width: 90%;
        display: flex;
       flex-direction: column;
       align-items: center;
        justify-content: center;
    }
    .text .orang .image img{
        width: 30px;
    }
    .text .orang .image{
        width: 48%;
    }
    
    
}